*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: white;
}

.chess-board{
  display: grid;
  grid-template-columns: repeat(8,100px);
  width: 800px;
  height: 800px;
}

.tile{
  display: grid;
  place-content: center;
  width: 100px;
  height: 100px;
}
.tile-piece{
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
}
.tile-piece:hover{
  cursor: grab;
}
.tile-piece:active{
  cursor: grabbing;
}
.black-tile{
  background-image: url("./black_wood.jpg");
}

.white-tile{
  background-image: url("./white_wood.jpg");
}
